.coursesList .recommend {
  cursor: pointer;
  margin-bottom: 25px;
  width: 230px;
}

.coursesList img {
  height: 140px;
  width: 230px;
  border: 0.1rem solid rgb(207, 207, 207);
}

.coursesList .recommend:hover {
  opacity: 0.85;
}

.coursesList h5 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}

.coursesList .authorName {
  font-size: 12px;
  color: rgb(110, 110, 110);
  margin: 5px 0px;
  display: block;
}

.coursesList .rate {
  font-size: 12px;
  color: rgb(185, 158, 0);
  font-weight: bolder;
}

.coursesList .number {
  color: rgb(110, 110, 110);
  font-weight: 400;
}

.coursesList .price {
  display: block;
  margin: 7px 0px;
  font-weight: bolder;
  font-size: 15px;
}

.coursesList button {
  border: 0px;
}

.popover {
  width: 250px;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 0.1rem solid rgb(197, 197, 197);
}

.title {
  font-weight: bold;
  font-size: 17px;
}

.update {
  color: rgb(3, 71, 3);
  font-weight: bold;
  font-size: 12px;
}

.details {
  color: rgb(110, 110, 110);
  font-size: 80%;
  margin-top: -10px;
}
.headline {
  font-size: 14px;
}
.check {
  display: inline-block;
  padding-right: 10px;
}

.list {
  font-size: 14px;
  margin-bottom: 10px;
}

.add {
  width: 130px;
  height: 40px;
  margin-top: 10px;
  margin-right: 20px;
  background-color: rgb(161, 6, 161);
  color: white;
  font-size: 100%;
  font-weight: bold;
  border: solid 1px;
}

.add:hover {
  background-color: rgb(127, 7, 127);
  width: 132px;
  height: 42px;
}

.love {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border: solid 1px black;
  background: transparent;
  border-radius: 500px;
}
.love:hover {
  font-size: 105%;
}
