.section{
    width: 80%;
    margin: auto;
    border: 1px solid #d1d7dc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}

.heading{
    font-weight: bold;
}

.objectives{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.items{
    display: flex;
    gap: 15px;
    align-items: center;
}

@media screen and (min-width: 1081px) {
    .section{
        width: 45%;
        margin-left: 17%;
    }
}