.card{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.initials{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1c1d1f;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.data{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.heading{
    font-weight: bold;
    margin-bottom: 0px;
}

.rate{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.time{
    font-size: 90%;
    color: rgb(148, 148, 148);
    margin-top: 5px;
}

.helpful{
    font-size: 90%;
    color: rgb(148, 148, 148);
}

.bottom{
    display: flex;
    align-items: center;
    gap: 15px;
}

.button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #1c1d1f;
    border-radius: 50%;
}

.button:hover{
    background-color: whitesmoke;
}

.report{
    font-size: 90%;
    color: #1c1d1f;
}

.report:hover{
    color: #1c1d1f;
    font-weight: bold;
}

.report:visited{
    color: #1c1d1f;
}