.header{
    width: 100%;
    background-color: #1c1d1f;
    color: whitesmoke;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

.links{
    color: #cec0fc;
    padding: 2px;
    text-decoration: none;
}

.links:hover{
    color: #cec0fc;
    text-decoration: none;
}

.links:visited{
    color: #cec0fc;
    text-decoration: none;
}

.image{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.title{
    margin-bottom: 0.8rem;
}

.headline{
    margin-bottom: 0.8rem;
    font-size: 110%;
    color: whitesmoke;
}

.rating{
    display: inline-block;
    color: goldenrod;
    font-weight: bold;
}

.stars{
    margin-bottom: 0.8rem;
}

.create{
    margin-bottom: 0.8rem;
}

.icons{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 90%;
    justify-content: space-between;
    width: 70%;
}

.icon{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.button{
    width: 100%;
    padding: 10px;
    background-color: rgb(161, 6, 161);
    color: white;
    font-size: 110%;
    font-weight: bold;
    border: solid 1px transparent;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button:hover{
    background-color: rgb(127, 7, 127);
}

.data{
    margin-top: 10px;
}

.additional{
    width: 100%;
    font-size: 80%;
    text-align: center;
}

.additionalLinks{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 90%;
}

.additionalLinks > a{
    color: white;
}

.additionalLinks > a:hover{
    color: white;
}

.additionalLinks > a:visited{
    color: white;
}

@media screen and (min-width: 701px) {
    .card{
        width: 60%;
    }
}


@media screen and (min-width: 1081px) {
    .data{
        display: none;
    }

    .image{
        display: none;
    }

    .card{
        width: 40%;
        margin-left: 17%;
    }

    .icons{
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        gap: 30px;
    }
}