.left {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  font-size: 80%;
}

.right {
  width: 50%;
  display: none;
}

.can_preview {
  color: #5624d0;
  text-decoration: underline;
}

.cannot_preview {
  display: none;
}

.time {
  color: #6a6f73;
}

@media screen and (min-width: 601px) {
  .right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  .left {
    width: 50%;
  }
}
