.navbar{ 
    font-size: 90%;
    display: flex;
    width: calc(100%);
    padding: 10px;
    gap: 12px;
    justify-content: space-evenly;
    align-items: center;  
    z-index: 1;
    max-width: 1350px;
}

.logo{
    width: 90px;
}

.navItems{
    display: inline-block;
}

.link{
    color: rgb(3, 3, 53);
    text-decoration: none;
    white-space: nowrap;
}

.link:visited{
    color: rgb(3, 3, 53);
}

.link:hover{
    color: rgb(196, 11, 196);
}

.searchBar{
    width: 60%;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 40px;
    padding: 10px;
    background-color: rgb(244, 244, 244);
}

.submit{
    background-color: transparent;
    border: none;
    outline-width: 0;
}

.searchField{
    border: none;
    outline-width: 0;
    width: 91%;
    background-color: rgb(244, 244, 244);
}

.cart{
    font-size: 10px;
    background-color: white;
    color: rgb(3, 3, 53);
    border: none;
    font-weight: 550;
}
.cart:hover {
    color: rgb(196, 11, 196);
}
.log{
    width: 80px;
    height: 40px;
    background-color: white;
    color: rgb(3, 3, 53);
    border-width: 1px;
    border-color: rgb(3, 3, 53);
    font-size: 90%;
    font-weight: 550;
    white-space: nowrap;
}

.sign{
    width: 80px;
    height: 40px;
    background-color: rgb(3, 3, 53);
    color: white;
    border-width: 1px;
    border-color: rgb(3, 3, 53);
    font-size: 80%;
    font-weight: 550;
    white-space: nowrap;
}

.lang{
    height: 40px;
    background-color: white;
    color: rgb(3, 3, 53);
    border-width: 1px;
    border-color: rgb(3, 3, 53);
    font-size: 90%;
    font-weight: 550;
}

button:hover{
    cursor: pointer;
}

/* mobile screen */
@media screen and (max-width: 800px) {
    .displaySmall{
        display: none;
    }
    .navbar{
        justify-content: space-between;
    }
}

/* small screen */
@media screen and (min-width: 801px) {
    .displayBar, .displayUdemyBusiness, .displayTeach{
        display: none;
    }
}

/* medium screen */
@media screen and (min-width: 1040px) {
    .displayBar{
        display: none;
    }
    .displayTeach{
        display: inline-block;
    }
}

/* large screen */
@media screen and (min-width: 1200px) {
    .displayBar{
        display: none;
    }
    .displayTeach, .displayUdemyBusiness{
        display: inline-block;
    }
    .navbar{
        justify-content: space-between;
    }
}
