.courses {
  border: 0.15rem solid rgb(204, 204, 204);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px 0px 0px 10px;
  margin: 10px 0px;
  max-width: 1310px;
}

.courses .courseIntro {
  max-width: 70%;
}
.courses .courseIntro h1 {
  font-size: 28px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.courses .courseIntro p {
  font-family: system-ui;
  font-size: 17px;
  margin-left: 20px;
}

.courses .exploreButton {
  height: 40px;
  font-size: 12px;
  border: 0.1rem solid black;
  background-color: white;
  font-size: 14px;
  padding: 0px 10px;
  border-radius: 2px;
  margin-bottom: 25px;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.courses .exploreButton:hover {
  background-color: rgb(226, 226, 226);
}

.coursesList {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.carousel-control-prevv {
  position: absolute;
  top: 90px;
  left: 8px;
  outline: none;
  height: 45px;
  width: 45px;
  background-color: black;
  padding: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 0.3s;
}
.carousel-control-nextt {
  position: absolute;
  top: 90px;
  right: 8px;
  outline: none;
  height: 45px;
  width: 45px;
  background-color: black;
  padding: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 0.3s;
}
.carousel-control-prevv:focus {
  outline: none;
}
.carousel-control-nextt:focus {
  outline: none;
}
.carousel-control-prevv:hover {
  opacity: 0.4;
}
.carousel-control-nextt:hover {
  opacity: 0.4;
}